@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FluxRegular';
    src: url('../assets/fonts/FluxRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
    font-family: 'FluxRegular', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}